<div class="container">
  <h1>Playlist Generate</h1>
  <h4>Create a playlist based on a song.</h4>

  <div>
    <form
      [formGroup]="formSearch"
      (ngSubmit)="loadTracks()"
      action="/action_page.php"
    >
      <div style="display: flex">
        <mat-form-field>
          <label>Song</label>
          <input
            [errorStateMatcher]="matcher"
            matInput
            type="text"
            formControlName="track"
            placeholder="Enter song"
            name="track"
          />
        </mat-form-field>
        <mat-form-field>
          <label>Artist</label>
          <input
            matInput
            type="text"
            formControlName="artist"
            placeholder="Enter artist"
            name="artist"
          />
        </mat-form-field>
        <div>
          <label></label>
          <select  formControlName="qtdTracks">
            <option *ngFor="let qtd of qtdTracks" [value]="qtd">{{
              qtd
            }}</option>
          </select>
        </div>
        <button
          class="submitButtom"
          mat-flat-button
          color="primary"
          aria-label="search"
          type="submit"
        >
          <span>Search</span>
        </button>
      </div>
    </form>
  </div>
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let track of trackModel" class="example-item">
        {{ track.nameSong }} - {{ track.nameArtist }}   
        <a href="{{ track.linkYoutube }}" target="_blank"><img src="../../assets/youtube.png" style="width: 30px;
          height: 30px; position: fixed;"></a> 
      </div>
    </cdk-virtual-scroll-viewport>
</div>

<!-- <pre>{{ formSearch.value | json }}</pre> 
<pre>{{ this.trackModel | json }}</pre> -->

<router-outlet></router-outlet>
